
body{
  background-color: #000;
  display: flex;
  flex-direction: row;
  flex-direction: column;
  align-items: center;
  width: 100vw;
}

section{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  gap: 15px;
}
h1{
  color:aliceblue ;
  font-size: xx-large;
  padding: 15px;
}
.card{
  height:300px;
  width: 300px;
  box-sizing: border-box;
  background-color:#16161678;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.card video{
  height: 150px;
  width:100%;
  object-fit: cover;

}
.card-title{
  color: aliceblue;
  padding: 10px;
}

.card-views{
  color: #e9e9e9;
  padding: 10px;
}